<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.maurofilho.ilhafilmes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/euassisti"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />

        <activity android:name=".activities.FullscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListFilmesActivity"
            android:label="@string/title_activity_list_filmes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SalvarFilmeActivity"
            android:label="@string/title_activity_salvar_filme"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>